.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2C2C2C; /* Nosso cinza escuro do logo */
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem; /* Espaçamento entre os links */
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #007bff; /* Uma cor de destaque para quando passar o mouse */
}

.navbar-logo-image {
  height: 230px; /* Você pode ajustar esse valor como preferir */
  width: auto; /* Mantém a proporção da imagem */
}